In [1]:
import pandas as pd
import numpy as mp
import scipy.stats as stats

In [2]:
data=pd.read_csv('Week_8_Q&A_dataset - Sheet1.csv')

In [3]:
# Displaying Information on Dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [4]:
#Displaying First few rows
data.head(28)

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1. Carry out descriptive analytics on the dataset.

In [5]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2. Check whether female and male students scored the same marks.

In [6]:
# A two-tailed two sample independent test can be used.

Null Hypothesis: H0:There is no difference between the marks scored by female and male students. <br>Alternative Hypothesis: H1:There is difference between the marks scored by female and male students.

In [7]:
stats.ttest_ind(data['Total Marks'][data['Gender'] == "male"],
               data['Total Marks'][data['Gender'] == "female"])

Ttest_indResult(statistic=-0.6940885268848668, pvalue=0.4937822317960763)

Inference:<br>Since, the p-value is higher than the assumed alpha value of 0.025, we can't reject the null hypothesis. <br>There is no difference between the marks scored by female and male students.

# 3. Whether test preparation helps the students?

In [8]:
# A one-tailed two sample independent test can be used.

Null Hypothesis: H0:There is no association between the marks scored by students and test preparation. <br>Alternative Hypothesis: H1:Students who have completed the test preparation course have scored more than others.

In [9]:
stats.ttest_ind(data['Total Marks'][data['Test preparation'] == "completed"],
               data['Total Marks'][data['Test preparation'] == "none"],alternative='greater')

Ttest_indResult(statistic=3.6143637527769217, pvalue=0.0006335646228660053)

Inference:<br>
Since, the p-value is lesser than the assumed alpha value of 0.05, we can reject the null hypothesis.<br>
Students who have completed the test preparation course have scored more than others.